<app-titulo [titulo]="'Eventos'"></app-titulo>

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label>
    <input
      type="text"
      class="form-control mr-2"
      placeholder="Buscar"
      [(ngModel)]="filtroLista"
    />
  </div>
</div>

<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>
        <button
          class="btn btn-sm btn-outline-light"
          (click)="hideImg = !hideImg">
          <i class="{{hideImg? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{ hideImg ? "Imagem" : "Imagem" }}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Participantes</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>

  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img
          src="/assets/{{ evento.imageURL }}"
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg"
          [collapse]="hideImg"
          [isAnimated]="true"
        />
      </td>
      <td>{{ evento.id }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento| DateTimeFormat }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{ evento.lotes[0].nome}}</td>
      <td>
        <button class="btn btn-sm btn-primary mr-2" tooltip="Editar">
          <i class="{{'fa fa-edit'}}"></i>
        </button>

        <button class="btn btn-sm btn-danger" tooltip="Excluir"
        (click)="openModal(template)">
          <i class="{{'fa fa-trash'}}" ></i>
        </button>
      </td>
    </tr>
  </tbody>

  <tfoot *ngIf="!(eventos && eventosFiltrados.length)">
    <tr>
      <td colspan="8" class="text-center">
        <h5>Nenhum evento registrado!</h5>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Deseja confirmar?</p>
    <button type="button" class="btn btn-danger" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
