<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <!--<p>Form value: {{ form.value | json }}</p>
    <p>Form value: {{ form.status | json }}</p>-->

    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Tema</label>
          <input
            type="text"
            class="form-control is-invalid"
            formControlName="tema"
            placeholder="Insira o Tema"
            [ngClass]="cssValidator(f.tema)"
          />
          <div *ngIf="f.tema.errors?.required" class="invalid-feedback">
            Tema é obrigatório.
          </div>
          <div *ngIf="f.tema.errors?.minlength" class="invalid-feedback">
            Tema deve ter no mínimo 4 caracteres.
          </div>
          <div *ngIf="f.tema.errors?.maxlength" class="invalid-feedback">
            Tema deve ter no máximo 50 caracteres.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input
            [ngClass]="cssValidator(f.local)"
            type="text"
            class="form-control is-invalid"
            formControlName="local"
            placeholder=""
          />
          <div class="invalid-feedback">Local é obrigatório</div>
        </div>
        <div class="form-group col-md-4">
          <label>Data e Hora</label>
          <input
            [ngClass]="cssValidator(f.dataEvento)"
            value="{{ evento.dataEvento | DateFormatPipe }}"
            class="form-control is-invalid"
            formControlName="dataEvento"
            placeholder=""
            bsDatepicker
            [bsConfig]="{
              containerClass: 'theme-default',
              isAnimated: true,
              adaptivePosition: true,
              showWeekNumbers:false,
              dateInputFormat: 'DD/MM/YYYY hh:mm a'
            }"
          />
          <div class="invalid-feedback">Data e hora são obrigatórios.</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Participantes</label>
          <input
            [ngClass]="cssValidator(f.qtdPessoas)"
            type="text"
            class="form-control is-invalid"
            formControlName="qtdPessoas"
            placeholder=""
          />
          <div *ngIf="f.qtdPessoas.errors?.required" class="invalid-feedback">
            O número de participantes é obrigatório.
          </div>
          <div *ngIf="f.qtdPessoas.errors?.min" class="invalid-feedback">
            O número de participantes não pode ser menor que 0.
          </div>
          <div *ngIf="f.qtdPessoas.errors?.max" class="invalid-feedback">
            O número de participantes não pode ser maior que 120000.
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Telefone</label>
          <input
            [ngClass]="cssValidator(f.telefone)"
            type="text"
            class="form-control is-invalid"
            formControlName="telefone"
            placeholder="(000) 90000-0000"
          />
          <div class="invalid-feedback">Telefone é obrigatório.</div>
        </div>
        <div class="form-group col-md-4">
          <label>E-mail</label>
          <input
            [ngClass]="cssValidator(f.email)"
            type="text"
            class="form-control is-invalid"
            formControlName="email"
            placeholder="e-mail"
          />
          <div *ngIf="f.email.errors?.required" class="invalid-feedback">
            E-mail é obrigatório.
          </div>
          <div *ngIf="f.email.errors?.email" class="invalid-feedback">
            E-mail inválido.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Imagem</label>
          <input
            [ngClass]="cssValidator(f.imageURL)"
            type="text"
            class="form-control is-invalid"
            formControlName="imageURL"
            placeholder="imagem"
          />
          <div class="invalid-feedback">Imagem é obrigatório.</div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button
          (click)="resetForm()"
          class="btn btn-outline-secondary mr-auto border"
        >
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid" (click)="salvarAlteracao()">
          <!--  <span class="spinner-border spinner-border-sm mr-1"></span>>-->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
