<div class="row mt-4">
  <div class="col-md-6 d-none d-md-block" style="height: 450px">
    <div class="text-center col-md-12 my-auto side-heder">
      <h1>Cadastro de Usuário</h1>
      <img
        src="../../../../assets/registerImage.png"
        class="my-4"
        alt=""
        width="400px"
      />
    </div>
  </div>

  <div class="col-md-6">
    <form class="p-1" [formGroup]="form">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Primeiro Nome</label>
          <input
            type="text"
            class="form-control is-invalid"
            placeholder="Insira o Primeiro nome"
            formControlName="primeiroNome"
            [ngClass]="{
              'is-invalid': f.primeiroNome.errors && f.primeiroNome.touched
            }"
          />
          <div *ngIf="f.primeiroNome.errors?.required" class="invalid-feedback">
            Primeiro nome é obrigatório.
          </div>
          <div
            *ngIf="f.primeiroNome.errors?.maxlength"
            class="invalid-feedback"
          >
            Primeiro nome deve ser inferior a 50 caracteres.
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label>Último nome</label>
          <input
            type="text"
            class="form-control is-invalid"
            placeholder="Insira o Último nome"
            formControlName="ultimoNome"
            [ngClass]="{
              'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched
            }"
          />
          <div *ngIf="f.ultimoNome.errors?.required" class="invalid-feedback">
            Último nome é obrigatório.
          </div>
          <div *ngIf="f.ultimoNome.errors?.maxlength" class="invalid-feedback">
            Último nome deve ser inferior a 50 caracteres.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">E-mail:</label>
        <input
          class="form-control is-invalid"
          type="text"
          placeholder="Insira seu e-mail"
          formControlName="email"
          [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }"
        />
        <div *ngIf="f.email.errors?.required" class="invalid-feedback">
          O e-mail é obrigatório.
        </div>
        <div *ngIf="f.email.errors?.email" class="invalid-feedback">
          Insira um endereço de e-mail válido.
        </div>
      </div>
      <div class="form-group">
        <label for="">Usuario:</label>
        <input
          class="form-control is-invalid"
          type="text"
          placeholder="Insira o nome de Usuário"
          formControlName="usuario"
          [ngClass]="{ 'is-invalid': f.usuario.errors && f.usuario.touched }"
        />
        <div *ngIf="f.usuario.errors?.required" class="invalid-feedback">
          O nome de usuário é obrigatório.
        </div>
        <div *ngIf="f.usuario.errors?.minlength" class="invalid-feedback">
          O nome de usuário deve ter no mínimo 4 caracteres.
        </div>
        <div *ngIf="f.usuario.errors?.maxlength" class="invalid-feedback">
          O nome de usuário deve ter no máximo 20 caracteres.
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input
            class="form-control is-invalid"
            type="password"
            placeholder="Digite uma Senha"
            formControlName="senha"
            [ngClass]="{ 'is-invalid': f.senha.errors && f.senha.touched }"
          />
          <div *ngIf="f.senha.errors?.required" class="invalid-feedback">
            A senha é obrigatória.
          </div>
          <div *ngIf="f.senha.errors?.minlength" class="invalid-feedback">
            A senha deve ter no mínimo 6 caracteres.
          </div>
          <div *ngIf="f.senha.errors?.maxlength" class="invalid-feedback">
            A senha deve ter no máximo 20 caracteres.
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input
            class="form-control is-invalid"
            type="password"
            placeholder="Confirme a Senha"
            formControlName="confirmSenha"
            [ngClass]="{
              'is-invalid': f.confirmSenha.errors && f.confirmSenha.touched
            }"
          />
          <div *ngIf="f.confirmSenha.errors?.required" class="invalid-feedback">
            A senha é obrigatória.
          </div>
          <div
            *ngIf="f.confirmSenha.errors?.passDontMatch"
            class="invalid-feedback"
          >
            As senhas devem coincidir.
          </div>
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customCheck1"
          />
          <label class="custom-control-label"
            >Eu concordo com os <a href="#">Termos de Uso</a>.</label
          >
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5">
            Registar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
